<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="color:aliceblue">
    <nav style="background-color: black;">
        <h1>login page</h1>
        
    </nav>
    <div>
        <span>
            <a href="{%  url  'login' %}">login</a>
        </span>
            <input type="text" placeholder="enter your name">
            <input type="password" placeholder="enter password">
            <button>submit</button>
    </div>
</body>
</html>